.bk--btn{
    &__primary {
        padding: 8px 20px !important;
        color: $white !important;
        background: $brand-second-color !important;
        display: inline-block;
        margin: 10px 10px !important;
        border-radius: 0 !important;
    }
    &__second{
        padding: 8px 20px !important;
    color: $white !important;
    background: $brand-primary-color !important;
    display: inline-block;
    margin: 10px 10px !important;
    border-radius: 0 !important;
    }
}