.bk-navbar{
    &--logo{
        max-width: 120px;
        &__img{
        }
    }
}
$menu-palette:(green : #95cea1,
    yellow : #e8e669,
    blue : #9bd4ff,
    red : #f2c3b1);

@each $color, $value in $menu-palette {
    .ll-menu-color--#{$color} {
        & a::before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: relative;
            top: 3px;
            margin-right: 5px;
            background-color: $value;
        }
    }
}