.lf-footer {
    background-color: $brand-primary-color;
    color: $white;

    &-before {
        background: $brand-second-color;
        color: $white;
    }

    .icon-footer {
        color: $brand-primary-color;
        width: 40px;
        background: $brand-second-color;
        height: 40px;
        display: inline-block;
        font-size: 20px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

}