#menu-categories{
    @include MQ(S){
        display: flex;
    }
    .ll-menu-cat{
        &:first-child{
            display: block ;
            width: 100% ;
            @include MQ(M){
                max-width: 80px;
            }
        }
        display: inline-block ;
        width: 49%;
        @include MQ(M){
            display: flex;
            width: auto !important;
        }
        .nav-link{
            text-align: left;
            //padding: 0;
        }
    }
}