.bk-woocommerce {
    .product {
        text-align: center;

        &:hover .woocommerce-loop-product__wrap {
            background: $white;
            box-shadow: 0 0 10px rgba($brand-grey, .5);
        }

        .woocommerce-loop-product__wrap {
            transition: .2s ease-in-out all;
            border: 1px solid darken($ultra-ligth-grey, 10%);
            padding-bottom: 25px;
        }

        .woocommerce-loop-product__link {
            display: block;
        }

        .woocommerce-loop-product__title {
            font-size: 16px;
            font-weight: $font-bold;
        }

        img {
            margin-bottom: 25px;
        }
    }
}

.add_to_cart_button {
    //min-width: 150px;
    padding: 8px 20px !important;
    color: $white !important;
    background: $brand-second-color !important;
    display: inline-block;
    margin: 10px 10px !important;
    border-radius: 0 !important;
}

.yith-wcqv-button {
    //min-width: 150px;
    padding: 8px 20px;
    color: $white !important;
    background: $brand-second-color !important;
    display: inline-block;
    margin: 10px 10px !important;
}

