article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #3f4a3c;
  font-weight: 400;
  position: relative;
  -webkit-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  padding: 0 !important;
  line-height: 1.5;
  font-size: .9rem; }

h1,
h2,
h3,
h4 {
  font-weight: "Playfair Display", serif; }

a {
  color: #3f4a3c;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #3f4a3c !important; }
  a:focus {
    text-decoration: none; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

strong {
  font-weight: 600; }

label {
  font-weight: 400; }

.content-wrapper {
  min-height: calc(100vh - 360px); }

.dn {
  display: none; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.cb {
  clear: both; }

.bk--title {
  text-transform: uppercase;
  font-weight: 900; }
  .bk--title__white {
    color: white; }
  .bk--title__i {
    font-style: italic; }
  .bk--title p {
    color: #a8a897; }
  .bk--title span {
    color: #3f4a3c; }

@media screen and (min-width: 768px) {
  .bk-no-padding {
    padding: 0 !important; } }

@media screen and (min-width: 768px) {
  .bk-shadow {
    -webkit-box-shadow: 6px 0px 14px -3px rgba(0, 0, 0, 0.41);
    box-shadow: 6px 0px 14px -3px rgba(0, 0, 0, 0.41); } }

.bk-hide {
  opacity: 0;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all; }

.modal-open {
  overflow: scroll !important; }

.ll-link--color {
  color: #69b973 !important; }

.ll-link--line-color {
  color: #69b973 !important; }
  .ll-link--line-color::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #c9c9bd;
    margin-right: 10px;
    position: relative;
    top: -4px; }

.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #f4f3ef; }
  .cd-loader__grid {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .cd-loader__item {
    width: 100%;
    height: 100%;
    background-size: contain; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.bk-navbar--logo {
  max-width: 120px; }

.ll-menu-color--green a::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: 3px;
  margin-right: 5px;
  background-color: #95cea1; }

.ll-menu-color--yellow a::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: 3px;
  margin-right: 5px;
  background-color: #e8e669; }

.ll-menu-color--blue a::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: 3px;
  margin-right: 5px;
  background-color: #9bd4ff; }

.ll-menu-color--red a::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: 3px;
  margin-right: 5px;
  background-color: #f2c3b1; }

/*# sourceMappingURL=main.css.map */